extends ../layouts/base

append vars
	- icon = '/img/logo.png';
	- footer = { class: 'footer_border' };


block content
	include ../layouts/main-screen
	include ../layouts/peoples
	include ../layouts/change
	include ../layouts/dummy	
	include ../layouts/template	
	include ../layouts/best	
	include ../layouts/calc	
	include ../layouts/more	
	include ../layouts/economy
	include ../layouts/gq
	include ../layouts/events
	include ../layouts/tw
	include ../layouts/how
	include ../layouts/reviews
	include ../layouts/peoples2
	include ../layouts/rates
	include ../layouts/contact
	include ../layouts/blog
	include ../layouts/vidjet









