extends ../layouts/base

append vars
	- title = 'Благодарим за заявку';
	- icon = '/img/logo.png';
	- header = { thank: 'привет мир!', class: 'header_thank' };

block content
	include ../layouts/thank










