+b.SECTION.best
	.wrap
		div.simple-title 
			h2 <span> <em class='simple-title__mobile1'>С новым гардеробом</em> <em class='simple-title__mobile2'>вы изменитесь</em></span> <em class='simple-title__mobile3'>в лучшую сторону</em>
		+e.wrap
			+e.list
				+e.item
					+e.item-img
						img(src='/img/best1.png')
						//- +icon('best1','0 0')
					+e.P.item-text будете выглядеть<br> «с иголочки» на важных<br> мероприятиях и в СМИ
				+e.item
					+e.item-img
						img(src='/img/best2.png')
						//- +icon('best2','0 0')
					+e.P.item-text будете производить<br> сильное первое<br> впечатление
				+e.item
					+e.item-img
						img(src='/img/best3.png')
						//- +icon('best3','0 0')
					+e.P.item-text будете вызывать<br> больше доверия<br> и уважения
				+e.item
					+e.item-img
						img(src='/img/best4.png')
						//- +icon('best4','0 0')
					+e.P.item-text почувствуете себя<br> ещё увереннее
				+e.item
					+e.item-img
						img(src='/img/best5.png')
						//- +icon('best5','0 0')
					+e.P.item-text добьетесь больших<br> успехов в карьере
				+e.item
					+e.item-img
						img(src='/img/best6.png')
						//- +icon('best6','0 0')
					+e.P.item-text инвестируете деньги<br> в себя, это принесёт эффект<br> во многих сферах жизни 
				+e.item
					+e.item-img
						img(src='/img/best7.png')
						//- +icon('best7','0 0')
					+e.P.item-text процесс шопинга станет<br> понятным и будет<br> приносить удовольствие
				+e.item
					+e.item-img
						img(src='/img/best8.png')
						//- +icon('best8','0 0')
					+e.P.item-text не будете тратить деньги<br> на одежду, которая<br> вам не подходит
				+e.item
					+e.item-img
						img(src='/img/best9.png')
						//- +icon('best9','0 0')
					+e.P.item-text перестанете покупать<br> некачественные вещи<br> по завышенной цене
			+e.slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							+e.item
								+e.item-img
									img(src='/img/best1.png')
								+e.P.item-text будете выглядеть<br> «с иголочки» на важных<br> мероприятиях и в СМИ
							+e.item
								+e.item-img
									img(src='/img/best2.png')
								+e.P.item-text будете производить сильное<br> первое впечатление
							+e.item
								+e.item-img
									img(src='/img/best3.png')
								+e.P.item-text будете вызывать больше<br> доверия и уважения
						.swiper-slide
							+e.item
								+e.item-img
									img(src='/img/best4.png')
								+e.P.item-text почувствуете себя<br> ещё увереннее
							+e.item
								+e.item-img
									img(src='/img/best5.png')
								+e.P.item-text добьетесь больших<br> успехов в карьере
							+e.item
								+e.item-img
									img(src='/img/best6.png')
								+e.P.item-text инвестируете деньги в себя,<br> это принесёт эффект<br> во многих сферах жизни 
						.swiper-slide
							+e.item
								+e.item-img
									img(src='/img/best7.png')
								+e.P.item-text процесс шопинга станет<br> понятным и будет приносить<br> удовольствие
							+e.item
								+e.item-img
									img(src='/img/best8.png')
								+e.P.item-text не будете тратить деньги<br> на одежду, которая<br> вам не подходит
							+e.item
								+e.item-img
									img(src='/img/best9.png')
								+e.P.item-text перестанете покупать<br> некачественные вещи<br> по завышенной цене
				+b.slider-nav
					+e.arrow._prev
						+icon('arrow-left_mobile')
					+e.bullets
					+e.arrow._next
						+icon('arrow-right_mobile')
	+e.IMG.img(src='/img/best__img.png')
	+e.IMG.grad(src='/img/best__grad.png')
