+b.SECTION.blog
    .wrap
        +e.wrap.css-text-center
            .simple-title
                h2 
                    <em class='simple-title__mobile1'>Более 200 000 человек</em>
                    <em class='simple-title__mobile2'> следят <span>за блогом</span></em>
                    <em class='simple-title__mobile3'><span><a href='https://www.instagram.com/belovstyle/' target="_blank">@belovstyle</a> в инстаграм</span></em>
            +e.list
                +e.item
                    +e.item-img
                        img(src='/img/blog__img-1.png', alt='')
                    +e.A.item-link(href='https://www.instagram.com/belovstyle/', target='_blank')
                        img(src='/img/blog-img.png')
                        +e.item-text перейти <span>в инстаграм</span> 
                            span
                                | @belovstyle
                +e.item
                    +e.item-img
                        img(src='/img/blog__img-2.png', alt='')
                    +e.A.item-link(href='https://www.instagram.com/belovstyle/', target='_blank')
                        img(src='/img/blog-img.png')
                        +e.item-text перейти <span> в инстаграм</span> 
                            span
                                | @belovstyle
                +e.item._mobile
                    +e.A.link(href='https://www.instagram.com/belovstyle/',target='_blank')
                    +e.item-img
                        img(src='/img/blog__img-3.png', alt='')
                        img(src='/img/blog__mobile.png', alt='')
                        a.btn(href='https://www.instagram.com/belovstyle/',target='_blank')
                            +icon('instagram') 
                            | перейти <span>в Instagram</span>
                +e.item
                    +e.item-img
                        img(src='/img/blog__img-4.png', alt='')
                    +e.A.item-link(href='https://www.instagram.com/belovstyle/', target='_blank')
                        img(src='/img/blog-img.png')
                        +e.item-text перейти <span>в инстаграм</span> 
                            span
                                | @belovstyle
                +e.item
                    +e.item-img
                        img(src='/img/blog__img-5.png', alt='')
                    +e.A.item-link(href='https://www.instagram.com/belovstyle/', target='_blank')
                        img(src='/img/blog-img.png')
                        +e.item-text перейти <span>в инстаграм</span> 
                            span
                                | @belovstyle