+b.change
	.wrap
		+e.wrap
			+e.IMG.bg(src='/img/change__bg.png')
			div.simple-title 
				h2 <span><em class='simple-title__mobile1'>Что изменится</em> <em class='simple-title__mobile2'>после работы</em></span><em class='simple-title__mobile3'>С Александром</em> <em class='simple-title__mobile4'>Беловым</em>
			+e.list
				+e.item
					+e.item-img
						div
							img(src='/img/change1.png')
					+e.P.item-text оденетесь стильно<br> и при этом комфортно
				+e.item
					+e.item-img
						div
							img(src='/img/change2.png')
					+e.P.item-text  подберёте идеальные<br> образы на все случаи жизни
				+e.item
					+e.item-img
						div
							img(src='/img/change3.png')
					+e.P.item-text научитесь сочетать вещи<br> и составлять комплекты
				+e.item
					+e.item-img
						div
							img(src='/img/change4.png')
					+e.P.item-text поймёте правила выбора<br> одежды для вашего типажа
				+e.item 
					+e.item-img
						div
							img(src='/img/change5.png')
					+e.P.item-text разберётесь, какие<br> цвета вам идут
				+e.item
					+e.item-img
						div
							img(src='/img/change6.png')
					+e.P.item-text узнаете оптимальные<br> места для шопинга



