//- +b.SECTION.contact  
//-     .wrap
//-         +e.title Ост<span>а</span>вьте заявку, и мы поможем подобрать вам наиболее подходящий форм<span>а</span>т шопинга
//-         +b.FORM.inputs(action='', autocomplete='off')
//-             +e.field-wrap
//-                 span.inputs__content
//-                     | Ваше имя
//-                 input.inputs__field(type='text', name='text', required='', minlength='2', placeholder="Олег Николаевич")
                        
//-             +e.field-wrap
//-                 span.inputs__content
//-                             | Номер для связи*
//-                 input.inputs__field(type='tel', name='phone', required='' placeholder="+7 123 456-78-90")
                        
//-             +e.field-wrap
//-                 span.inputs__content.inputs__content_hide 
//-                                 | кнопка
//-                 input.btn.inputs__submit.inputs__field(type='submit', value='Подобрать формат шопинга') 
//-                 span.inputs__personal
//-                             | Нажимая на кнопку, вы даете согласие на обработку персональных данных.