+b.SECTION.dummy 
	+e.IMG.mobile-bg(src='/img/change__border.png')
	.wrap
		+e.wrap
			+e.left
				+e.P.item сделаете стильную<br> стрижку
				+e.P.item._mobile купите очки подходящей<br> вам формы
				+e.P.item поймёте, нужна<br> вам борода или нет
				+e.P.item._mobile подберёте правильный<br> парфюм к образу
				+e.P.item вещи будут сидеть<br> идеально, как<br> пошитые на заказ
				+e.P.item._mobile выберете часы <br> и другие аксессуары
				+e.P.item._desktop найдёте брюки<br> идеальной для вас<br> модели
				+e.P.item._desktop приобретёте стильную<br> и удобную обувь	
			+e.img._desktop
				img(src='/img/dummy.png')
			+e.img._mobile
				img(src='/img/dummy__mobile.png')
			+e.right
				+e.P.item купите очки подходящей<br> вам формы
				+e.P.item подберёте правильный<br> парфюм к образу
				+e.P.item выберете часы<br> и другие аксессуары
				+e.P.item купите универсальные вещи,<br> которые можно использовать<br> в разных комплектах
				+e.P.item поймёте, стоит ли носить<br> яркие носки

