+b.economy
	+e.IMG.bg(src='/img/economy__bg.png')
	.wrap
		+e.wrap
			+e.block._first
				+e.block-content
					+e.block-title1 Вы сэкономите
					+e.block-title2 
						+e.IMG.block-icon(src='/img/economy-icon1.png')
						| до 70%
					+e.block-title3 на стоимости одежды благодаря<br> скидкам Александра Белова
					+e.block-text Стоимость услуг, как правило, <span>окупается за счёт максимальных скидок</span> в магазинах по дисконтным картам, которых у Александра Белова более 70 штук, и возможности покупки в специальных бутиках по наиболее выгодным условиям.
				+e.block-img
					img(src='/img/economy1.png')
			+e.block._second
				+e.block-content
					+e.block-title1 Покупка одежды займёт 
					+e.block-title2
						+e.IMG.block-icon(src='/img/economy-icon2.png')
						| до 4 раз
					+e.block-title3 меньше времени
					+e.block-text Большинство мужчин в среднем тратит на покупку только одной вещи самостоятельно 1-2 часа. Александр Белов хорошо знает ассортимент магазинов и понимает, какая именно одежда будет подходить вам. Поэтому процесс шопинга будет <span>оперативным и максимально комфортным.</span>
				+e.block-img
					img(src='/img/economy2.png')
