+b.SECTION.events
	.wrap
		+e.block._first
			+e.desk
				div
					+e.P.title ЭКСПЕРТ<br> ПО СТИЛЮ
					+e.P.text Автор обучающих программ по мужскому стилю. За 15 лет обучил особенностям подбора одежды более 20 000 человек.
			+e.list
				+e.item
					+e.item-img
						img(src='/img/events1.png')
					+e.P.item-text Тренинг в клубе предпринимателей «Трансформатор»
				+e.item
					+e.item-img
						img(src='/img/events2.png')
					+e.P.item-text Спикер международного съезда стилистов
		+e.block_reverse
			+e.desk
				+e.P.title ЧЛЕН ЖЮРИ
				+e.P.text На постоянной основе входит в жюри российских и международных конкурсов дизайнов и красоты.
			+e.list
				+e.item
					+e.item-img
						img(src='/img/events3.png')
					+e.P.item-text С Вячеславом Зайцевым в жюри Estet Fashion Week в Москве
				+e.item
					+e.item-img
						img(src='/img/events4.png')
					+e.P.item-text На конкурсе дизайнеров в рамках Milan Fashion Week в Милане (Италия)
