+b.FOOTER.footer(class=footer.class)
    .wrap
        +e.top
            +e.phone
                a(href='tel:+79691009955') +7 969 100 99 55
                +b.SPAN.btn._empty._green(onclick='show_popup("popup2")') Обратный звонок
            +e.btn
                +b.SPAN.btn._empty._green(onclick='show_popup("popup2")') Обратный звонок
            +b.socials.flex
                +e.A.link(href='https://www.instagram.com/belovstyle/', target='_blank')
                    +icon('instagram')
                +e.A.link(href='https://www.facebook.com/abelov', target='_blank')
                    +icon('facebook')
                +e.A.link(href='https://vk.com/below', target='_blank')
                    +icon('vk')
        +e.bottom
            +e.copytr
                p © Александр Белов, 2005-2020
            +e.A.confid(href='/conf.pdf',target='_blank') Политика конфиденциальности
            +e.developer
                p Дизайн и разработка — 
                    a(href="") Karanikola