+b.SECTION.gq
	.wrap
		+e.P.title._mobile Александр<br> <span>белов</span>
	+e.quote._mobile Я хочу, чтобы каждый мужчина выглядел стильно и достойно
	.wrap
		+e.wrap
			+e.left
				+e.P.title Александр<br> <span>белов</span>
				+e.position
					span Специализация:
					p только мужской стиль
				+e.text Международный эксперт по стилю, персональный имидж-консультант бизнесменов, топ-менеджеров, политиков и медийный персон. Ведущий авторских тренингов по имиджу. Член жюри международных и российских конкурсов.
			+e.right
				+e.quote Я хочу, чтобы каждый мужчина выглядел стильно и достойно
				+e.rewards
					+e.reward 
						+e.reward-img
							img(src='/img/main-screen__reward4.png')
						+e.P.reward-text «Fashion<br>эксперт года»<br> Милан 2018
					+e.reward 
						+e.reward-img
							img(src='/img/main-screen__reward3.png')
						+e.P.reward-text «Стилист года»<br> Будапешт<br> 2017
					+e.reward 
						+e.reward-img
							img(src='/img/main-screen__reward2.png')
						+e.P.reward-text «Глянцевый<br> имиджмейкер года»<br> Москва 2017