+b.SECTION.main-screen
	//- +e.IMG.rewards-bg(src='/img/rewards__bg.png')
	.wrap
		+e.wrap
			+e.top
				+e.content
					+e.P.sub-title1 Приобретите идеальный
					+e.H1.title мужско<i class='blik blik--q'>й</i><br> <span>г<i class='blik blik--a'>а</i>рдероб<span>
					+e.P.sub-title2 со стилистом 
						span №1
							+b.SPAN.tooltip._main
								+e.SPAN.text 
									| Александр Белов – самый титулованный<br> российский стилист, лауреат 4 международный<br> премий в области моды, член жюри престижных<br> конкурсов дизайнеров и красоты
						| в Москве
					span.btn(onclick='show_popup("popup2")') Связаться с александром беловым
				+e.features
					+e.feature
						+e.IMG.feature-img(src='/img/main-screen__feature1.png')
						+e.SPAN.feature-title ДО 70% ЭКОНОМИИ
						+e.P.feature-text на покупках за счёт<br> дисконтных карт в бутиках
					+e.feature
						+e.IMG.feature-img(src='/img/main-screen__feature2.png')
						+e.SPAN.feature-title ДО 4 РАЗ БЫСТРЕЕ
						+e.P.feature-text чем покупать одежду<br> самостоятельно
					+e.feature
						+e.IMG.feature-img(src='/img/main-screen__feature3.png')
						+e.SPAN.feature-title 100% ПОДХОДЯЩИХ<br> ВЕЩЕЙ
						+e.P.feature-text вы купите одежду,<br> которая вам идёт
			+e.IMG.img(src='/img/main-screen__img.png')
			+e.rewards
				+e.reward
					+e.IMG.reward-img(src='/img/main-screen__reward1.png')
					+e.P.reward-text ЛЕТ<br> ОПЫТА
				+e.reward
					+e.IMG.reward-img(src='/img/main-screen__reward2.png')
					+e.P.reward-text «Fashion-<br class='desktop'>эксперт<br class='mobile'> года»<br class='desktop'> Милан<br class='mobile'> 2018
				+e.reward
					+e.IMG.reward-img(src='/img/main-screen__reward3.png')
					+e.P.reward-text «Стилист года»<br> Будапешт<br> 2017
				+e.reward
					+e.IMG.reward-img(src='/img/main-screen__reward4.png')
					+e.P.reward-text «Глянцевый<br> имиджмейкер года»<br> Москва 2017
