+b.modals._recall.mfp-hide#recall
.popup-wrap(id='popup1')
	.popup.popup_peoples
		.popup__close(onclick='close_popup("popup1")')
			div
			div
		include ../layouts/peoples-popup

.popup-wrap(id='popup3')
	.popup.popup_peoples
		.popup__close(onclick='close_popup("popup3")')
			div
			div
		include ../layouts/peoples-popup2

.popup-wrap(id='popup2')
	.popup.popup_step
		.popup__close(onclick='close_popup("popup2")')
			div
			div
		include ../layouts/step