+b.SECTION.more
	.wrap
		.simple-title
			h2 
				span Более 1000 человек 
				span <em class='simple-title__mobile1'>выбрали Александра</em> <em class='simple-title__mobile2'>Белова своим стилистом</em> 
				span за 15 лет работы
		+e.wrap
			+e.left
				+e.peoples
					+e.people
						+e.people-img(data-peoples='1')
							img(src='/img/more__people1.png')
						+e.P.people-name Алексей Александров
						+e.P.people-profession предприниматель
					+e.people
						+e.people-img(data-peoples='2')
							img(src='/img/more__people2.png')
						+e.P.people-name Леонид Васильев
						+e.P.people-profession бизнес-тренер
					+e.people
						+e.people-img(data-peoples='3')
							img(src='/img/more__people3.png')
						+e.P.people-name Алексей Ивченко
						+e.P.people-profession предприниматель
					+e.people
						+e.people-img(data-peoples='4')
							img(src='/img/more__people4.png')
						+e.P.people-name Владимир Астафьев
						+e.P.people-profession топ-менеджер
					+e.people
						+e.people-img(data-peoples='5')
							img(src='/img/more__people5.png')
						+e.P.people-name Влад Соколовский
						+e.P.people-profession певец
					+e.people
						+e.people-img(data-peoples='6')
							img(src='/img/more__people6.png')
						+e.P.people-name Денис Филиппов
						+e.P.people-profession владелец компании
				+e.slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								+e.people
									+e.people-img(data-peoples='1')
										img(src='/img/more__people1.png')
									+e.P.people-name Алексей Александров
									+e.P.people-profession предприниматель
							.swiper-slide
								+e.people
									+e.people-img(data-peoples='2')
										img(src='/img/more__people2.png')
									+e.P.people-name Леонид Васильев
									+e.P.people-profession бизнес-тренер
							.swiper-slide
								+e.people
									+e.people-img(data-peoples='3')
										img(src='/img/more__people3.png')
									+e.P.people-name Алексей Ивченко
									+e.P.people-profession предприниматель
							.swiper-slide
								+e.people
									+e.people-img(data-peoples='4')
										img(src='/img/more__people4.png')
									+e.P.people-name Владимир Астафьев
									+e.P.people-profession топ-менеджер
							.swiper-slide
								+e.people
									+e.people-img(data-peoples='5')
										img(src='/img/more__people5.png')
									+e.P.people-name Влад Соколовский
									+e.P.people-profession певец
							.swiper-slide
								+e.people
									+e.people-img(data-peoples='6')
										img(src='/img/more__people6.png')
									+e.P.people-name Денис Филиппов
									+e.P.people-profession владелец компании
					+b.slider-nav._dark
						+e.arrow._prev
							+icon('arrow-left_mobile')
						+e.bullets
						+e.arrow._next
							+icon('arrow-right_mobile')
			+e.right
				+e.list
					+e.item
						+e.item-img
							img(src='/img/more__item1.png')
						+e.P.item-text Огромный опыт — залог точной<br> и качественной работы над вашим стилем.
					+e.item
						+e.item-img
							img(src='/img/more__item2.png')
						+e.P.item-text Александр Белов всегда сохраняет конфиденциальность<br> предоставляемой клиентами информации.
					+e.item
						+e.item-img
							img(src='/img/more__item3.png')
						+e.P.item-text Клиенты Александра Белова:
				+e.dia
					+e.item
						+e.item-img
							img(src='/img/more__item3.png')
						+e.P.item-text Клиенты Александра Белова:
					+e.dia-left
						+e.P.dia-item владельцы<br> бизнесов
						+e.P.dia-item другие
					+e.IMG.dia-img._desktop(src='/img/dia.png')
					+e.IMG.dia-img._mobile(src='/img/dia_mobile.png')
					+e.dia-right
						+e.P.dia-item топ-менеджеры<br> крупных компаний
						+e.P.dia-item политики
						+e.P.dia-item медийные персоны

	+e.IMG.abs._coin1(src='/img/more__coin1.png')
	+e.IMG.abs._coin2(src='/img/more__coin2.png')
	+e.IMG.abs._cufflinks(src='/img/cufflinks.png')


