+b.peoples._popup._more
	.wrap
		+e.wrap
			+e.btn._prev
				+icon('arrow')
			+e.btn._next
				+icon('arrow')
			.peoples__slider.peoples__slider_more
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/cl1.jpg')
								+e.P.item-name Алексей Александров
								+e.P.item-position предприниматель
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/cl2.jpg')
								+e.P.item-name Леонид Васильев
								+e.P.item-position бизнес-тренер
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/cl3.jpg')
								+e.P.item-name Алексей Ивченко
								+e.P.item-position предприниматель
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/cl4.jpg')
								+e.P.item-name Владимир Астафьев
								+e.P.item-position топ-менеджер
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/cl5.jpg')
								+e.P.item-name Влад Соколовский
								+e.P.item-position певец
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/cl6.jpg')
								+e.P.item-name Денис Филиппов
								+e.P.item-position владелец компании