+b.SECTION.peoples._bot
	.wrap
		+e.wrap
			+e.btn._prev
				+icon('arrow')
			+e.btn._next
				+icon('arrow')
			.peoples__slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							+e.item
								+e.item-img(data-people='53')
									div
										img(src='/img/people53.png')
								+e.P.item-name // Вера Брежнева
						.swiper-slide
							+e.item
								+e.item-img(data-people='54')
									div
										img(src='/img/people54.png')
								+e.P.item-name // Джанлука Вакки
						.swiper-slide
							+e.item
								+e.item-img(data-people='55')
									div
										img(src='/img/people55.png')
								+e.P.item-name // Иван Ургант
						.swiper-slide
							+e.item
								+e.item-img(data-people='56')
									div
										img(src='/img/people56.png')
								+e.P.item-name // Филипп Плейн
						.swiper-slide
							+e.item
								+e.item-img(data-people='5')
									div
										img(src='/img/people5.png')
								+e.P.item-name // Валентин Юдашкин
						.swiper-slide
							+e.item
								+e.item-img(data-people='6')
									div
										img(src='/img/people6.png')
								+e.P.item-name // Вячеслав Зайцев
						.swiper-slide
							+e.item
								+e.item-img(data-people='7')
									div
										img(src='/img/people7.png')
								+e.P.item-name // Александр Ревва
						.swiper-slide
							+e.item
								+e.item-img(data-people='8')
									div
										img(src='/img/people8.png')
								+e.P.item-name // Стивен Сигал
						.swiper-slide
							+e.item
								+e.item-img(data-people='9')
									div
										img(src='/img/people9.png')
								+e.P.item-name // Д. Дольче, А. Вербер
						.swiper-slide
							+e.item
								+e.item-img(data-people='10')
									div
										img(src='/img/people10.png')
								+e.P.item-name // Андрей Малахов
						.swiper-slide
							+e.item
								+e.item-img(data-people='11')
									div
										img(src='/img/people11.png')
								+e.P.item-name // Константин Крюков
						.swiper-slide
							+e.item
								+e.item-img(data-people='12')
									div
										img(src='/img/people12.png')
								+e.P.item-name // Стив Возняк (Apple)
						.swiper-slide
							+e.item
								+e.item-img(data-people='13')
									div
										img(src='/img/people13.png')
								+e.P.item-name // Scooter
						.swiper-slide
							+e.item
								+e.item-img(data-people='14')
									div
										img(src='/img/people14.png')
								+e.P.item-name // Филипп Киркоров
						.swiper-slide
							+e.item
								+e.item-img(data-people='15')
									div
										img(src='/img/people15.png')
								+e.P.item-name // Антон Беляев
						.swiper-slide
							+e.item
								+e.item-img(data-people='16')
									div
										img(src='/img/people16.png')
								+e.P.item-name // Жан-Поль Готье
						.swiper-slide
							+e.item
								+e.item-img(data-people='17')
									div
										img(src='/img/people17.png')
								+e.P.item-name // Валерий Меладзе
						.swiper-slide
							+e.item
								+e.item-img(data-people='18')
									div
										img(src='/img/people18.png')
								+e.P.item-name // Н. Сафронов, А. Васильев
						.swiper-slide
							+e.item
								+e.item-img(data-people='19')
									div
										img(src='/img/people19.png')
								+e.P.item-name // Рома Зверь 
						.swiper-slide
							+e.item
								+e.item-img(data-people='20')
									div
										img(src='/img/people20.png')
								+e.P.item-name // Дольф Лундгрен
						.swiper-slide
							+e.item
								+e.item-img(data-people='21')
									div
										img(src='/img/people21.png')
								+e.P.item-name // Андрей Малахов
						.swiper-slide
							+e.item
								+e.item-img(data-people='22')
									div
										img(src='/img/people22.png')
								+e.P.item-name // Покрас Лампас
						.swiper-slide
							+e.item
								+e.item-img(data-people='23')
									div
										img(src='/img/people23.png')
								+e.P.item-name // Эмин Агаларов
						.swiper-slide
							+e.item
								+e.item-img(data-people='24')
									div
										img(src='/img/people24.png')
								+e.P.item-name // Сергей Шнуров
						.swiper-slide
							+e.item
								+e.item-img(data-people='25')
									div
										img(src='/img/people25.png')
								+e.P.item-name // DJ Smash, Дискотека авария
						.swiper-slide
							+e.item
								+e.item-img(data-people='26')
									div
										img(src='/img/people26.png')
								+e.P.item-name // Андрей Григорьев-Аполлонов
						.swiper-slide
							+e.item
								+e.item-img(data-people='27')
									div
										img(src='/img/people27.png')
								+e.P.item-name // Братья Сафроновы
						.swiper-slide
							+e.item
								+e.item-img(data-people='28')
									div
										img(src='/img/people28.png')
								+e.P.item-name // Гусейн Гасанов
						.swiper-slide
							+e.item
								+e.item-img(data-people='29')
									div
										img(src='/img/people29.png')
								+e.P.item-name // Белла Потемкина
						.swiper-slide
							+e.item
								+e.item-img(data-people='30')
									div
										img(src='/img/people30.png')
								+e.P.item-name // Борис Щербаков
						.swiper-slide
							+e.item
								+e.item-img(data-people='31')
									div
										img(src='/img/people31.png')
								+e.P.item-name // Виктор Дробыш
						.swiper-slide
							+e.item
								+e.item-img(data-people='32')
									div
										img(src='/img/people32.png')
								+e.P.item-name // Виктория Боня
						.swiper-slide
							+e.item
								+e.item-img(data-people='33')
									div
										img(src='/img/people33.png')
								+e.P.item-name // Вячеслав Фетисов
						.swiper-slide
							+e.item
								+e.item-img(data-people='34')
									div
										img(src='/img/people34.png')
								+e.P.item-name // Группа Градусы
						.swiper-slide
							+e.item
								+e.item-img(data-people='35')
									div
										img(src='/img/people35.png')
								+e.P.item-name // Группа Фабрика
						.swiper-slide
							+e.item
								+e.item-img(data-people='36')
									div
										img(src='/img/people36.png')
								+e.P.item-name // Игорь Гуляев
						.swiper-slide
							+e.item
								+e.item-img(data-people='37')
									div
										img(src='/img/people37.png')
								+e.P.item-name // Мария Кожевникова
						.swiper-slide
							+e.item
								+e.item-img(data-people='38')
									div
										img(src='/img/people38.png')
								+e.P.item-name // Игорь Чапурин
						.swiper-slide
							+e.item
								+e.item-img(data-people='39')
									div
										img(src='/img/people39.png')
								+e.P.item-name // Никас Сафронов 
						.swiper-slide
							+e.item
								+e.item-img(data-people='40')
									div
										img(src='/img/people40.png')
								+e.P.item-name // Катя Лель
						.swiper-slide
							+e.item
								+e.item-img(data-people='41')
									div
										img(src='/img/people41.png')
								+e.P.item-name // Николай Басков
						.swiper-slide
							+e.item
								+e.item-img(data-people='42')
									div
										img(src='/img/people42.png')
								+e.P.item-name // Роман Абрамович
						.swiper-slide
							+e.item
								+e.item-img(data-people='43')
									div
										img(src='/img/people43.png')
								+e.P.item-name // Сати Казанова
						.swiper-slide
							+e.item
								+e.item-img(data-people='44')
									div
										img(src='/img/people44.png')
								+e.P.item-name // Светлана Бондарчук
						.swiper-slide
							+e.item
								+e.item-img(data-people='45')
									div
										img(src='/img/people45.png')
								+e.P.item-name // Александр Стриженов
						.swiper-slide
							+e.item
								+e.item-img(data-people='46')
									div
										img(src='/img/people46.png')
								+e.P.item-name // Эвелина Хромченко
						.swiper-slide
							+e.item
								+e.item-img(data-people='47')
									div
										img(src='/img/people47.png')
								+e.P.item-name // Алена Шишкова
						.swiper-slide
							+e.item
								+e.item-img(data-people='48')
									div
										img(src='/img/people48.png')
								+e.P.item-name // Юлия Барановская
						.swiper-slide
							+e.item
								+e.item-img(data-people='49')
									div
										img(src='/img/people49.png')
								+e.P.item-name // Ashanti
						.swiper-slide
							+e.item
								+e.item-img(data-people='50')
									div
										img(src='/img/people50.png')
								+e.P.item-name // Авраам Руссо
						.swiper-slide
							+e.item
								+e.item-img(data-people='51')
									div
										img(src='/img/people51.png')
								+e.P.item-name // Анастасия Волконская-Решетова
						.swiper-slide
							+e.item
								+e.item-img(data-people='52')
									div
										img(src='/img/people52.png')
								+e.P.item-name // Иосиф Пригожин
						.swiper-slide
							+e.item
								+e.item-img(data-people='1')
									div
										img(src='/img/people1.png')
								+e.P.item-name // Дональд Трамп
						.swiper-slide
							+e.item
								+e.item-img(data-people='2')
									div
										img(src='/img/people2.png')
								+e.P.item-name // Джорджо Армани
						.swiper-slide
							+e.item
								+e.item-img(data-people='3')
									div
										img(src='/img/people3.png')
								+e.P.item-name // Дольче и Габбана
						.swiper-slide
							+e.item
								+e.item-img(data-people='4')
									div
										img(src='/img/people4.png')
								+e.P.item-name // Роман Абрамович
			.peoples__list
				+e.item
					+e.item-img(data-people='53')
						div
							img(src='/img/people53.png')
					+e.P.item-name // Вера Брежнева
				+e.item
					+e.item-img(data-people='54')
						div
							img(src='/img/people54.png')
					+e.P.item-name // Джанлука Вакки
				+e.item
					+e.item-img(data-people='55')
						div
							img(src='/img/people55.png')
					+e.P.item-name // Иван Ургант
				+e.item
					+e.item-img(data-people='56')
						div
							img(src='/img/people56.png')
					+e.P.item-name // Филипп Плейн