+b.peoples._popup._stars
	.wrap
		+e.wrap
			+e.btn._prev
				+icon('arrow')
			+e.btn._next
				+icon('arrow')
			.peoples__slider.peoples__slider_peoples
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people_1.png')
								+e.P.item-name // Дональд Трамп
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people_2.png')
								+e.P.item-name // Джорджо Армани
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people_3.png')
								+e.P.item-name // Дольче и Габбана
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people_4.png')
								+e.P.item-name // Роман Абрамович
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_5.jpg')
								+e.P.item-name // Валентин Юдашкин
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_6.jpg')
								+e.P.item-name // Вячеслав Зайцев
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_7.jpg')
								+e.P.item-name // Александр Ревва
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_8.jpg')
								+e.P.item-name // Стивен Сигал
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_9.jpg')
								+e.P.item-name // Д. Дольче, А. Вербер
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_10.jpg')
								+e.P.item-name // Андрей Малахов
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_11.jpg')
								+e.P.item-name // Константин Крюков
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_12.jpg')
								+e.P.item-name // Стив Возняк (Apple)
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_13.jpg')
								+e.P.item-name // Scooter
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_14.jpg')
								+e.P.item-name // Филипп Киркоров
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_15.jpg')
								+e.P.item-name // Антон Беляев
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_16.jpg')
								+e.P.item-name // Жан-Поль Готье
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_17.jpg')
								+e.P.item-name // Валерий Меладзе
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_18.jpg')
								+e.P.item-name // Н. Сафронов, А. Васильев
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_19.jpg')
								+e.P.item-name // Рома Зверь
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_20.jpg')
								+e.P.item-name // Дольф Лундгрен
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_21.jpg')
								+e.P.item-name // Андрей Малахов
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_22.jpg')
								+e.P.item-name // Покрас Лампас
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_23.jpg')
								+e.P.item-name // Эмин Агаларов
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_24.jpg')
								+e.P.item-name // Сергей Шнуров
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_25.jpg')
								+e.P.item-name // DJ Smash, Дискотека авария
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_26.jpg')
								+e.P.item-name // Андрей Григорьев-Аполлонов
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_27.jpg')
								+e.P.item-name // Братья Сафроновы
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_28.jpg')
								+e.P.item-name // Гусейн Гасанов
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_29.jpg')
								+e.P.item-name // Белла Потемкина
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_30.jpg')
								+e.P.item-name // Борис Щербаков
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_31.jpg')
								+e.P.item-name // Виктор Дробыш
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_32.jpg')
								+e.P.item-name // Виктория Боня
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_33.jpg')
								+e.P.item-name // Вячеслав Фетисов
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_34.jpg')
								+e.P.item-name // Группа Градусы
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_35.jpg')
								+e.P.item-name // Группа Фабрика
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_36.jpg')
								+e.P.item-name // Игорь Гуляев
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_37.jpg')
								+e.P.item-name // Мария Кожевникова
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_38.jpg')
								+e.P.item-name // Игорь Чапурин
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_39.jpg')
								+e.P.item-name // Никас Сафронов
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_40.jpg')
								+e.P.item-name // Катя Лель
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_41.jpg')
								+e.P.item-name // Николай Басков
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_42.jpg')
								+e.P.item-name // Роман Абрамович
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_43.jpg')
								+e.P.item-name // Сати Казанова
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_44.jpg')
								+e.P.item-name // Светлана Бондарчук
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_45.jpg')
								+e.P.item-name // Александр Стриженов
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_46.jpg')
								+e.P.item-name // Эвелина Хромченко
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_47.jpg')
								+e.P.item-name // Алена Шишкова
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_48.jpg')
								+e.P.item-name // Юлия Барановская
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_49.jpg')
								+e.P.item-name // Ashanti
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_50.jpg')
								+e.P.item-name // Авраам Руссо
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_51.jpg')
								+e.P.item-name // Анастасия Волконская-Решетова
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_52.jpg')
								+e.P.item-name // Иосиф Пригожин
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_53.jpg')
								+e.P.item-name // Вера Брежнева
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_54.jpg')
								+e.P.item-name // Джанлука Вакки
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_55.jpg')
								+e.P.item-name // Иван Ургант
						.swiper-slide
							+e.item
								+e.item-img
									div
										img(src='/img/people1_56.jpg')
								+e.P.item-name // Филипп Плейн
