+b.SECTION.template
	.wrap
		+e.wrap
			+e.img._desktop
				img(src='/img/template__img.png')
			+e.img._mobile
				img(src='/img/template__img_mobile.png')
			+e.right
				+e.H2.title НИКАКИХ ШАБЛОНОВ
				+e.P.text Гардероб подбирается индивидуально, основываясь на вашем образе жизни, потребностях, особенностях личности и внешности.

