+b.SECTION.thank
	.wrap
		+e.H1.title БЛАГОДАРИМ <span>ЗА ЗАЯВКУ</span>
		+e.P.sub-title мы свяжемся с вами в ближайшее время
		+e.P.bonuse-title а пока предлагаем скачать бонус:
		+e.P.bonuse 
			span Чек-лист для оценки
			span своего стиля (2,5 МБ)
		+e.img(src='/img/thank__bg_mobile.png')

