+b.SECTION.tw
	+e.IMG.bg(src='/img/tw__bg.png')
	.wrap
		+e.wrap
			.wrap
				div.simple-title 
					h2 
						<em class='simple-title__mobile1'>Более 500 ТВ-эфиров</em>
						<em class='simple-title__mobile2'>и публикаций в СМИ</em>
			+b.logos
				+e.item
					img(src='/img/logo1.png')
				+e.item
					img(src='/img/logo2.png')
				+e.item
					img(src='/img/logo3.png')
				+e.item
					img(src='/img/logo4.png')
				+e.item
					img(src='/img/logo5.png')
				+e.item
					img(src='/img/logo6.png')
				+e.item
					img(src='/img/logo7.png')
				+e.item
					img(src='/img/logo8.png')
				+e.item
					img(src='/img/logo9.png')
				+e.item
					img(src='/img/logo10.png')
			.wrap
				+e.slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								+e.item
									+e.item-img
										+e.A.item-video.fancybox(data-fancybox-type="iframe" href="https://www.youtube.com/embed/RWkIIEDRgwE")
										img(src='/img/tw.png')
									+e.item-text
										| <span>НТВ.</span> Александр Белов прокомментировал стиль Владимира Путина и Дональда Трампа
							.swiper-slide
								+e.item
									+e.item-img
										+e.A.item-video.fancybox(data-fancybox-type="iframe" href="https://www.youtube.com/embed/2g3PYUT-onM")
										img(src='/img/tw2.jpg')
									+e.item-text
										| <span>РБК.</span> "Общество потребления". Александр Белов рассказывает про шопинг в Милане и ввоз товаров
							.swiper-slide
								+e.item
									+e.item-img
										+e.A.item-video.fancybox(data-fancybox-type="iframe" href="https://www.youtube.com/embed/Z2nkn1xEa_o")
										img(src='/img/tw3.jpg')
									+e.item-text
										| <span>Россия 1.</span> "Прямой фир" Андрей Малахов. Александр Белов переодевает Сергея Челобанова
							.swiper-slide
								+e.item
									+e.item-img
										+e.A.item-video.fancybox(data-fancybox-type="iframe" href="https://www.youtube.com/embed/DDVqp7pt-l8")
										img(src='/img/tw4.jpg')
									+e.item-text
										| <span>Москва 24.</span> "Простые решения". Александр Белов о подборе стильного мужского гардероба
							.swiper-slide
								+e.item
									+e.item-img
										+e.A.item-video.fancybox(data-fancybox-type="iframe" href="https://www.youtube.com/embed/I5qNxdHNuxI")
										img(src='/img/tw5.jpg')
									+e.item-text
										| <span>СТС.</span> "Бесплатный лук" Стилист Александр Белов, художник Андрей Бартенев, певица Саша Градива
					+e.slider-btn._prev
						+icon('arrow')
					+e.slider-btn._next
						+icon('arrow')
					+b.slider-nav._dark
						+e.arrow._prev
							+icon('arrow-left_mobile')
						+e.bullets
						+e.arrow._next
							+icon('arrow-right_mobile')

