+b.vidjet
	+e.A.item(href='https://wa.me/79691009955',target='_blank')
		img(src='/img/whatsapp.png')
	+e.A.item
		img(src='/img/phone.png')
		span(onclick='show_popup("popup2")')
		p(onclick='location.href="tel:79691009955"')
