.economy {
	margin-bottom: -27rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
	@include max-screen($large_tablet) {
		margin-bottom: -20rem;
	}
	@include max-screen(660px) {
		margin-bottom: -15rem;
	}

	@include max-screen($large_mobile) {
		margin-bottom: 0px;
		background: #181a26;
	}

	&__wrap {
		padding-top: 9.5rem;
		padding-bottom: 11rem;
		background: #161624;
		box-shadow: 0px 49px 106px 0px rgba(0, 4, 7, 0.1);
		max-width: 134rem;
		padding-left: 32px;
		padding-right: 32px;
		@include max-screen($large_tablet) {
			padding-left: 15px;
			padding-right: 15px;
		}

		@include max-screen($small_tablet) {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 8rem;
			padding-bottom: 8rem;
		}

		@include max-screen($large_mobile) {
			background: transparent;
			padding: 4rem 0px;
			box-shadow: none;
		}

	}

	&__bg {
		position: absolute;
		max-width: 300rem;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: -1;
		@include max-screen($large_mobile) {
			display: none;
		}
	}
	
	&__block {
		display: flex;
		max-width: 100rem;
		margin: 0px auto;
		margin-bottom: 6rem;
		align-items: center;
		justify-content: space-between;
		@include max-screen($large_tablet) {
			max-width: 98rem;
		}
		
		@include max-screen($large_tablet) {
			max-width: calc( 100% - 30px );
		}

		@include max-screen($small_tablet) {
			max-width: calc( 100% - 40px );
		}

		@include max-screen($small_tablet) {
			flex-direction: column-reverse !important;
		}

		@include max-screen($large_mobile) {
			max-width: 100%;
			margin-bottom: 6.5rem;
		}

		&:last-child {
			margin-bottom: 0px;
		}
		&_first {
			.economy__block-title {
				&1 {
					font-size: 2.67rem;
					font-family: "Tragan";
					text-transform: uppercase;
					margin-bottom: 1.1rem;
					letter-spacing: 40 / 1000 * 1em;
					@include max-screen($large_mobile) {
						font-size: 2.78rem;
						white-space: nowrap;
						margin-bottom: 0.3rem;
						letter-spacing: 30 / 1000 * 1em;
						margin-left: -0.07em;
					}
				}

				&2 {
					font-size: 6.9rem;
					font-family: "Tragan";
					letter-spacing: 80 / 1000 * 1em;
					margin-bottom: -1rem;
					margin-left: 0.04em;
					@include max-screen($large_mobile) {
						white-space: nowrap;
						font-size: 5.05rem;
						img {
							margin-right: 0.9rem;
							width: 5.2rem;
						}
					}
				}

				&3 {
					font-weight: 300;
					font-size: 2.1rem;
					margin-bottom: 3rem;
					letter-spacing: 35 / 1000 * 1em;
					@include max-screen($large_mobile) {
						font-size: 2.12rem;
						white-space: nowrap;
						margin-bottom: 3.5rem;
						letter-spacing: 40 / 1000 * 1em;
					}
				}
			}
		}

		&_second {
			flex-direction: row-reverse;
			.economy__block-title {
				&1 {
					font-size: 1.8rem;
					font-family: "Tragan";
					text-transform: uppercase;
					margin-bottom: 1rem;
					letter-spacing: 40 / 1000 * 1em;
					@include max-screen($large_mobile) {
						font-size: 1.73rem;
						margin-bottom: 0.5rem;
						white-space: nowrap;
					}
				}

				&2 {
					font-size: 6.1rem;
					font-family: "Tragan";
					letter-spacing: 80 / 1000 * 1em;
					margin-left: 0.05em;
					@include max-screen($large_mobile) {
						font-size: 4.63rem;
						white-space: nowrap;
						img {
							margin-right: 0.9rem;
							width: 3.2rem;
						}
					}
				}

				&3 {
					font-family: "Tragan";
					font-size: 2.73rem;
					margin-bottom: 3rem;
					margin-top: -0.5rem;
					letter-spacing: 120 / 1000 * 1em;
					@include max-screen($large_mobile) {
						font-size: 2.9rem;
						letter-spacing: 40 / 1000 * 1em;
						white-space: nowrap;
						margin-bottom: 3.5rem;
					}
				}
			}

			.economy__block-img {
				margin-right: 6rem;
				margin-top: 4rem;
				@include max-screen($large_mobile) {
					margin-top: 0px;
				}
			}
		}



		&-content {
			color: $green;
			position: relative;
			padding-top: 7rem;
			@include max-screen($large_mobile) {
				padding-top: 0px;
			}
		}


		&-img {
				max-width: 40rem;
				@include max-screen($large_mobile) {
					margin: 0px auto !important;
					margin-bottom: 3.5rem !important;
					max-width: 21rem;
				}
		}


		&-text {
			color: #fefefe;
			max-width: 49rem;
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 24 / 18 * 1;
			position: relative;

			@include max-screen($large_mobile) {
				padding-left: 20px;
				font-size: 1.6rem;
				line-height: 25 / 18 * 1;
			}
			&::before {
				content: '';
				position: absolute;
				left: -4rem;
				top: 4%;
				height: 93%;
				width: 1px;
				background: $green;
				@include max-screen($large_tablet) {
					display: none;
				}

				@include max-screen($small_tablet) {
					display: block;
				}
				@include max-screen($large_mobile) {
					left: 0px;
					height: 93%;
					top: 3.5%;
				}
			}
			span {
				color: $green;
			}

			.economy__block_second & {

			}
		}

		&-icon {
			position: absolute;
			left: 0px;
			top: 0px;
			@include max-screen($large_mobile) {
				position: static;
				vertical-align: middle;
			}
		}
	}
}