.logos {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 116rem;
	margin: 0px auto;
	@include max-screen($large_tablet) {
		max-width: calc( 100% - 30px );
	}


	@include max-screen($large_mobile) {
		padding: 0px 20px;
		max-width: 100%;
	}
	&__item {
		width: 20%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5rem;
		@include max-screen($large_tablet) {
			img {
				max-width: 85%;
			}
		}
		@include max-screen($small_tablet) {
			width:  100% / 3 ;

		&:nth-child(1) {
			order: 1;
		}

		&:nth-child(2) {
			order: 2;
		}

		&:nth-child(3) {
			order: 4;
		}

		&:nth-child(4) {
			order: 4;
		}

		&:nth-child(5) {
			order: 3;
		}

		&:nth-child(6) {
			order: 7;
		}

		&:nth-child(7) {
			order: 8;
		}

		&:nth-child(8) {
			order: 6;
		}

		&:nth-child(9) {
			display: none;
		}

		&:nth-child(10) {
			order: 10;
		}
		
		}

		@include max-screen($large_mobile) {
			margin-bottom: 3rem;
		}
	}
}