.peoples {
	&_popup {
		width: 100%;
		.peoples__wrap {
			padding: 0px  5rem + 3rem;
			@include max-screen($large_mobile) {
				padding: 0px;
			}
		}

		.wrap {
			padding: 0px 10px;
		}

		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&_main {
		position: relative;
		z-index: 16;
		padding-bottom: 16rem;
		padding-top: 2rem;
		margin-top: -13rem;
		overflow: hidden;
		@include max-screen($small_tablet) {
			padding-bottom:  8rem + 5rem - 3.2rem ;
			padding-top:  8rem + 8rem;
			margin-top: -8rem;
			background: #181d29;
			z-index: 1;
			&::before {
				content: '';
				position: absolute;
				bottom: 0px;
				width: 100%;
				height: 100px;
				left: 0px;
				background: #f2eee9 url('/img/rewards__bg.png') no-repeat;
				background-position: bottom left;
				background-size: 100% auto;
				@include max-screen($large_mobile) {
					background-color: #f6f6ec !important;
				}
			}
		}

		@include max-screen($large_mobile) {
			padding-top:  4rem + 8rem;
			padding-bottom:  6.5rem - 3.2rem ;
		}
		.wrap {
			padding: 0px calc( 32px + 32px + 5rem );

			@include max-screen($large_tablet) {
				padding: 0px calc( 15px + 15px + 5rem );
			}

			@include max-screen($small_tablet) {
				padding: 0px 20px;
			}
		}
	}


	&_bot {
		.peoples__wrap {
			padding: 11rem calc( 20px + 15px + 5rem );
			padding-bottom: 10.5rem;
			background: #181a26;
			max-width: 1336px;
			position: relative;
			@include max-screen($small_tablet) {
				padding: 8rem 4rem;
				padding-bottom:  8rem - 3.2rem ;
			}

			@include max-screen($large_mobile) {
				padding: 4rem 0px;
				padding-bottom:  4rem - 3.2rem ;
			}

		}

		@include max-screen($large_mobile) {
			background: #181a26;
		}
	}
	
	&__list {
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		@include max-screen($small_tablet) {
			display: flex;
		}

		.peoples__item {
			width: calc( ( 100% - 2rem * 1  ) / 2 );
			margin-bottom: 3.2rem;
		}
	}

	.peoples:not(.peoples_popup) &__slider {

		@include max-screen($small_tablet) {
			display: none;
		}

	}

	&__btn {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		border: 1px dashed rgba(205, 180, 141, 0.3);
		position: absolute;
		top: calc( 50% - 1.35rem );
		transform: translate(0,-50%);
		cursor: pointer;
		transition: all 0.3s;
		display: flex;
		justify-content: center;
		align-items: center;
		@include max-screen($small_tablet) {
			.peoples:not(.peoples_popup) & {
				display: none;
			}
		}

		@include max-screen($large_mobile) {
			z-index: 2;
			background: #fff;
			width: 4rem;
			height: 4rem;
			svg {
				stroke: #000 !important;
			}

			&:hover svg {
				stroke: #fff !important;
			}
		}
		svg {
			width: 2.2rem !important;
			height: 2.2rem !important;
			stroke: #fff;
			fill: transparent;
		}

		&_prev {
			left: 32px;

			.peoples_bot &  {
				left: 20px;
			}

			@include max-screen($large_tablet) {
				left: 15px;
			}

			.peoples_popup & {
				left: 0px;
				@include max-screen($large_mobile) {
					top: 50%;
				}
			}
		}

		&_next {
			right: 32px;

			.peoples_bot &  {
				right: 20px;
			}
			.peoples_popup & {
				right: 0px;
				@include max-screen($large_mobile) {
					top: 50%;
				}
			}
			@include max-screen($large_tablet) {
				right: 15px;
			}
			svg {
				transform: rotate(180deg);
			}
		}

		&:hover {
			background: $green;
		}
	}

	&__bg {
		max-width: auto;
		position: absolute;
		left: 50%;
		bottom: 2rem;
		transform: translate(-50%,0%);
		max-width: 210rem;
		@include max-screen($large_tablet) {
			max-width: 170rem;	
		}

		@include max-screen($small_tablet) {
			display: none;
		}

	}

	&__item {


		&-img {
			border: 1px dashed rgba(205, 180, 141, 0.3);
			padding: 5px;
			.peoples_popup & {
				padding: 1rem;
			}
			&:hover {
				.peoples:not(.peoples_popup) & {
					cursor: pointer;
					img {
						transform: scale(1.08);
					}
				}
			}
			> div {
				overflow: hidden;
				position: relative;
				padding-bottom:  290 / 265 * 100% ;
				.peoples_popup & {
					padding-bottom: 0px;
					max-height: calc( 90vh - 3rem - 2rem );
					display: flex;
					justify-content: center;
					align-items: center;
					picture {
						position: relative;
						height: 100%;
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

			.peoples_popup & {
				&::before {
					content: '';
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					z-index: 2;
					background-image: linear-gradient(0deg, rgba(25,29,41,0.8) 3%, rgba(0, 0, 0, 0) 39%);
					@include max-screen($large_mobile) {
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100%;
					}
				}
			}
				img {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) transform;
					.peoples_popup & {
						max-width: 100%;
						max-height: calc( 90vh - 3rem - 2rem );
						width: auto;
						height: auto;
						object-fit: initial;
						position: static;
					}
				}
			}

			@include max-screen($small_tablet) {
				.peoples:not(.peoples_popup) & {
					border: none;
					padding: 0px;
				}

			}
			@include max-screen($large_mobile) {
				border: none;
			}
		}

		&-name {
			font-size: 1.6rem;
			margin-top: 1.1rem;
			padding-left: 5px;
			color: #fff;
			padding-left: 7px;
			@include max-screen($small_tablet) {
				font-size: 2.2rem;
				padding-left: 0.2rem;
			}
			@include max-screen($large_mobile) {
				font-size: 1.3rem;
			}

			.peoples_popup & {
				position: absolute;
				bottom: 7rem;
				font-size: 2.4rem;
				width: 100%;
				left: 0px;
				text-align: center;
				z-index: 2;
				padding-left: 0px;
				@include max-screen($large_mobile) {
					font-size: 1.6rem;
					bottom: 3.5rem;
				}
			}
		}

		&-position {
				color: $green;
				position: absolute;
				bottom: 4rem;
				font-size: 2rem;
				width: 100%;
				left: 0px;
				text-align: center;
				z-index: 2;
				padding-left: 0px;
				@include max-screen($large_mobile) {
					font-size: 1.4rem;
					bottom: 1.8rem;
				}
		}
	}
}