.reviews {
    margin-top: -36rem;
    position: relative;
    overflow: hidden;
    @include max-screen($large_mobile) {
        background-color: rgb(240, 235, 229);
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-top: 0px;
    }

    &__bg {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0%);
        max-width: 210rem;
        bottom: 12rem;
        z-index: -1;
        @include max-screen($large_mobile) {
            display: none;
        }
    }


    &__wrap {
        position: relative;
        background-color: rgb(240, 235, 229);
        padding: 11rem 5.8rem;
        @include max-screen($small_tablet) {
            padding: 8rem 4rem;
        }
        @include max-screen($large_mobile) {
            padding: 0px;
        }
    }


    .simple-title {
        margin-bottom: 8rem;
        @include max-screen($small_tablet) {
            margin-bottom: 6.5rem;
        }

        @include max-screen($large_mobile) {
            margin-bottom: 3.5rem;
        }

        h2 {
            font-size: 4.8rem;
            padding: 0 15px;
            position: relative;
            span {
                font-size: 3.2rem;
                display: block;
                @include max-screen($large_tablet) {
                    font-size: 3.05rem;
                }
            }

            @include max-screen($large_tablet) {
                font-size: 4.6rem;
            }

            @include max-screen($small_tablet) {

                .simple-title__mobile {
                    &1 {
                        font-size: 4.3rem;
                        display: block;
                        @include max-screen($large_mobile) {
                            font-size: 2.45rem;
                        }
                    }

                    &2 {
                        font-size: 4.1rem;
                        display: block;
                        @include max-screen($large_mobile) {
                            font-size: 2.3rem;
                        }
                    }

                    &3 {
                        font-size: 3rem;
                        display: block;
                        @include max-screen($large_mobile) {
                            font-size: 1.65rem;
                        }
                    }
                }
            }
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: #e1c393;
            height: 1px;
            width: 14rem;
            top: 40%;
            @include max-screen($large_tablet) {
                width: 8rem;
            }
            @include max-screen($large_tablet) {
                display: none;
            }
        }

        &::after {
            left: 0px;
        }

        &::before {
            right: 0px;
        }

    }

    &__item {
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 1.5s;
        &-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 23px;
            height: 33px;
            z-index: 2;
            background: url('/img/video.png') no-repeat;
            background-position: center;
            transition: all 0.2s;
            &:hover {
                transform: scale(1.1) translate(-50%,-50%);
            }
        }

        @include max-screen($small_tablet) {
          flex-direction: column-reverse;
      }
      .swiper-slide-active & {
        opacity: 1;
    }


&-video {
    width: calc( ( 100% - 4rem ) / 2 );
    @include max-screen($small_tablet) {
        width: 100%;
        margin-bottom: 2.5rem;
    }
    >div {
        position: relative;
        padding-bottom: 67.97%;

        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}


}

&__info {
    width: calc( ( 100% - 4rem ) / 2 );
    padding-bottom: 8.2rem;
    @include max-screen($small_tablet) {
        width: 100%;
    }
    @include max-screen($large_mobile) {
        padding-bottom: 3rem;
    }
}


&__name {
    font-size: 3.6rem;
    color: #333333;
    width: 100%;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0.5rem;
    @include max-screen($small_tablet) {
        br {
            display: none;
        }
    }

    @include max-screen($large_mobile) {
        font-size: 2.4rem;
    }
}

&__profes {
    font-weight: 600;
    font-size: 1.8rem;
    color: #999999;
    margin-bottom: 2rem;
    @include max-screen($large_mobile) {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
}

&__social {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    @include max-screen($large_mobile) {
        margin-bottom: 2.5rem;
    }
    img {
        margin-right: 1rem;
    }

    p {
        color: #333333;
        font-size: 16px;
        font-weight: 300;
        @include max-screen($large_mobile) {
            font-size: 1.6rem;
        }
    }
}

&__text {
    font-size: 1.9rem;
    line-height: 28 / 19 * 1;
    font-family: initial;
    font-style: italic;
    color: rgb(51, 51, 51);
    max-width: 48rem;
    width: 100%;
    @include max-screen($large_mobile) {
        font-size: 1.8rem;
        line-height: 24 / 18 * 1;
    }
}

&__slider {
    background-color: rgb(246, 245, 244);
    box-shadow: 0px 49px 106px 0px rgba(0, 4, 7, 0.1);
    padding: 5rem 6rem;
    position: relative;
    @include max-screen($large_mobile) {
        box-shadow: none;
        background: transparent;
        padding: 0px;
    }

    .slider-nav {
        @include min-screen($large_mobile) {
            display: none;
        }
    }

    .swiper-pagination {
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        font-family: "Tragan";
        color: #999999;

        &-current {
            color: #333333;
            margin-right: -0.2em;
        }

        &-total {
            margin-left: -0.2em;
        }

        &-fraction {
            width: auto;
            position: static;
        }
    }
}

&__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 48rem;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2;
    @include max-screen($large_tablet) {
        max-width: calc( 50% - 4rem );
    }
    @include max-screen($small_tablet) {
        width: 100%;
        max-width: 100%;
    }

    @include max-screen($large_mobile) {
        display: none;
    }
}

&__btns {
    display: flex;
}
&__btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 2.2rem !important;
        height: 2.2rem !important;
        stroke: #333;
        fill: transparent;
    }

    &_prev {
        margin-right: 1.5rem;
    }

    &:hover {
        background: $green;
        svg {
            stroke: #fff;
        }
    }
}


}