.thank {
	background: #f0f0ef url('/img/thank__bg.png') no-repeat;
	background-position: right bottom;
	background-size: auto 100%;
	margin-top: -11.5rem;
	padding-top: 11.5rem + 16rem ;
	padding-bottom: 19rem;
	min-height: 100vh;
	display: flex;
	overflow: hidden;
	@include max-screen(1600px) {
		background-position: 110% bottom !important;
	}

	@include max-screen(1500px) {
		background-position: 120% bottom !important;
	}

	@include max-screen(1450px) {
		background-position: 130% bottom !important;
	}

	@include max-screen($large_tablet) {
		background: #f0f0ef !important;
	}

	@include max-screen($large_mobile) {
		padding-bottom: 0px;
		padding-top: 11.5rem;
	}

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		flex-grow: 1;
		@include max-screen($large_tablet) {
			align-items: center;
			text-align: center;
		}
		background-clip: content-box;

		> picture {
			width: calc( 100% + 40px );
			margin-left: -10px;
		}
	}
	&__title {
		font-family: "Tragan";
		font-weight: 300;
		text-transform: uppercase;
		color: #333;
		font-size: 5.9rem;
		@include max-screen($large_mobile) {
			font-size: 3.7rem;
			white-space: nowrap;
		}
		span {
			display: block;
			font-size: 7.5rem;
			@include max-screen($large_mobile) {
				font-size: 4.65rem;
			}
		}
	}


	&__img {
		width: 100% !important;
		margin-bottom: -2px;
		margin-top: 2rem;
		@include min-screen($large_mobile) {
			display: none;
		}
	}

	&__sub-title {
		font-size: 2.7rem;
		font-weight: 300;
		padding-bottom: 5.5rem;
		margin-bottom: 5.5rem;
		position: relative;
		margin-top: 2rem;
		@include max-screen($large_mobile) {
			 margin-top: 0.5rem;
			 margin-bottom: 3rem;
			 padding-bottom: 3rem;
			 font-size: 2.4rem;
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			background: $green;
			height: 1px;
		}
	}

	&__bonuse {

		&-title {
			font-size: 2.7rem;
			font-weight: 300;
			margin-bottom: 2.5rem;
			@include max-screen($large_mobile) {
				font-size: 1.95rem;
				white-space: nowrap;
			}
		}

		background: url('/img/step__bonuse.png') no-repeat;
		background-position: left center;
		padding-left: 4rem + 2.4rem ;
		background-size: auto 90%;
		background-position: bottom left;
		font-size: 1.8rem;
		font-weight: 300;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		span {
			display: block;
			position: relative;
			cursor: pointer;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 100%;
				height: 1px;
				background: #333;
				opacity: 0.7;
				transition: all 0.5s;
			}
		}
	}
}