.tooltip {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 2;
    font-style: italic;
    background-image: url('/img/tooltip.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    @include max-screen($large_tablet) {
        width: 14px;
        height: 14px;
    }
    .rates__item & {
        background-color: rgb(246, 241, 235);
        top: 50%;
        transform: translateY(-50%);
        left: 2rem;
    }

    .rates-item__item & {
        left: calc(100% + 1rem);
        top: auto;
        bottom: calc(100% - 8px);
        background-color: #fff;
        transform: translateY(0);
        @include max-screen($large_tablet) {
            display: none;
        }
    }

    .rates-item__price & {
        top: calc(100% + 1rem);
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        @include max-screen($large_tablet) {
            left: calc( 50% + 5px );
            top: calc(100% + 23px);
            z-index: 3;
        }
        @include max-screen($large_mobile) {
            left: calc( 50% + 0.5rem );
            top: calc( 100% + 2.3rem );
            z-index: 3;
            width: 1.6rem;
            height: 1.6rem;
        }

        @include max-screen($large_tablet) {
            display: block;
        }
    }
    &:hover {
        z-index: 4;
        .tooltip__text {
            opacity: 1;
            visibility: visible;
            pointer-events: initial;
        }
    }
    &__text {
        opacity: 0;
        visibility: hidden;
        cursor: initial;
        position: absolute;
        transition: all 0.5s;
        background: #eee9e3;
        box-shadow: 0px 4px 7.84px 0.16px rgba(0, 4, 7, 0.38);
        font-size: 1.6rem;
        line-height: 1.2;
        font-style: normal;
        color: #333333;
        font-family: "FuturaPT";
        font-weight: 400;
        text-transform: initial;
        white-space: nowrap;
        letter-spacing: 0px;
        padding: 2.2rem 2.5rem;
        left: 50%;
        top: calc( 100% + 7px + 10px );
        transform: translate(-50%,0px);
        pointer-events: none;
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 50%;
            width: 1.8rem;
            height: 1.8rem;
            background: inherit;
            transform: translate(-50%,-50%) rotate(45deg);
        }

        &::after {
            content: '';
            position: absolute;
            left: 0px;
            width: 100%;
            height: 20px;
            bottom: 100%;
        }

        &_right {
            left: calc( 50% - 2rem );
            transform: translate(0,0);
            &::before {
                left: 1rem;
                transform:  translate(0%,-50%) rotate(45deg);
            }
        }

        &_sale {
            background-image: url('/img/sale.png');
            background-position: 2.5rem center;
            padding-left: 2.5rem + 4rem ;
            background-repeat: no-repeat;
            .to-right {
                margin-left: 0.13em;
            }
            @include max-screen($large_tablet) {
                &.tooltip__text_right {
                    left: auto;
                    right: calc( 50% - 5rem );
                    transform: translate(0,0);
                    &::before {
                        left: auto;
                        right: 4rem;
                        transform:  translate(0%,-50%) rotate(45deg);
                    }
                }
            }
        }

    }
    &_main {
        background: url('/img/info.png') no-repeat;
        top: -0.3em;
        position: absolute;
        @include max-screen($large_mobile) {
            position: static;
            margin-bottom: 0.6em;
            display: inline-block;
        }
        .tooltip__text {
            @include max-screen($large_mobile) {
                transform: translate(0,0);
                left: 0px;
                width: 100%;
                white-space: normal;
                font-size: 1.6rem;
                text-align: left;
                padding-left: 1.8rem;
                padding-right: 1.8rem;
                top: 100%;
                
                br {
                    display: none;
                }

                &::before {
                    right: 8.8rem;
                    left: auto;
                }
            }
        }
    }
}